$base-bg-color: $grey-dark;

$sans: "freight-sans-pro",sans-serif;
$sans-normal: 400;
$sans-bold: 600;

$serif: "freight-display-pro",sans-serif;
$serif-bold: 700;

$screen-sm: 600px;
$screen-md: 980px;
$screen-lg: 1200px;

$base-border-radius: 4px;